:root {
  --background-color: 241, 255, 250;
  --primary-color: 86, 130, 89;
  --dark-primary-color: 70, 78, 71;
  --light-primary-color: 204, 252, 203;
  --light-primary-color-variant: 150, 230, 179;
  --card-background-color: 255, 255, 255;

  --shadow-pattern: 0.0625rem 0.0625rem 0.25rem rgb(var(--primary-color));
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  background: rgb(var(--background-color));
  color: rgb(var(--primary-color));
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
}

/* Header */
.header {
  background: linear-gradient(
      to right bottom,
      rgba(var(--light-primary-color), 0.8),
      rgba(var(--light-primary-color-variant), 0.8),
      rgba(var(--primary-color), 0.5)
    ),
    url("/img/header__background.png") no-repeat center center;
}
/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(var(--dark-primary-color));
}

/*Brand*/
.brand {
  display: inline;
  margin: 0;
  padding: 0.4rem;
}

/* Menu*/
.menu {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 4.5rem;
  right: 0;
  background: rgb(var(--dark-primary-color));
  padding: 0 1rem;
  text-align: center;
  display: none;
}
.menu--mobile-visibility {
  display: block;
}
.menu__icon-container {
  align-self: center;
  cursor: pointer;
}

.menu__icon {
  width: 2rem;
  height: 0.25rem;
  background-color: rgb(var(--light-primary-color));
  position: relative;
  top: 0;
}
.menu__icon--top {
  top: -0.17rem;
}
.menu__icon--bottom {
  top: 0.2rem;
}

.menu__item {
  border: 1px solid transparent;
  padding: 0.4rem;
  border-radius: 6px;
}
.menu__item:not(:last-child) {
  margin-right: 1rem;
}
.menu__item:hover {
  opacity: 0.7;
  border: 1px solid;
}
.menu__link {
  text-decoration: none;
  color: rgb(var(--light-primary-color));
  font-weight: bold;
}

/*Banner*/
.banner {
  height: 20rem;
  justify-content: center;
  align-items: center;
}

/*End Header*/

/*Shadow*/
.shadow--rounded {
  box-shadow: var(--shadow-size) rgb(var(--primary-color));
  border-radius: 0.2rem;
  background: rgb(var(--card-background-color));
}
/*Main*/
.main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 98%;
  box-shadow: var(--shadow-pattern);
  position: relative;
  top: -1.1rem;
}

.title {
  color: rgb(var(--dark-primary-color));
  font-weight: bold;
  font-size: 3rem;
}

/*flex*/
.display--flex {
  display: flex;
  flex-direction: row;
}
.display--inline-flex {
  display: inline-flex;
  flex-direction: row;
}
.flex-direction--column {
  flex-direction: column;
}
.flex--center {
  justify-content: center;
  align-items: center;
}
.flex--space-evenly {
  justify-content: space-evenly;
  align-items: center;
}
.flex--space-around {
  justify-content: space-around;
  align-items: center;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--start {
  align-self: start;
}

/*sidebar*/
.sidebar {
  display: none;
  float: left;
  max-width: 30%;
  padding: 0.5rem;
  box-shadow: 0.625rem 0.625rem 0.625rem 0.0312rem rgb(var(--primary-color));
  border-radius: 0.125rem;
}

@media (min-width: 1024px) {
  .sidebar {
    display: inline;
  }
  .products {
    max-width: 70%;
  }
  .main {
    max-width: 90%;
  }
  .menu {
    display: inline-flex;
    position: static;
  }
  .menu__icon {
    display: none;
  }
}

/*Text styles*/
.text--center {
  text-align: center;
}
